.about-heading {
  display: flex;
  justify-content: center;
  background-color: #264de4;
}
.AlignImage {
  margin-left: 20rem;
}
.developer-bio{
  font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}
.User-Image-EXP {
  border-radius: 10%;
  display: flex;
  justify-content: start;
  align-items: start;
  width: 400px;
  height: 400px;
  overflow: hidden;
}
.User-details-EXP {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  color: white;
}

.About-nasih {
  padding: 20px;
  font-size: 15px;
  color: white;
  margin-bottom: 1rem;
}

.developer-bio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
}

.developer-bio {
  max-width: 800px;
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333333;
}

.developer-bio p {
  margin: 0;
}

@media (max-width: 768px) {
  .developer-bio {
      padding: 15px;
  }
}

@media (max-width: 480px) {
  .developer-bio {
      padding: 10px;
  }
}


@media only screen and (max-width: 992px) {
  .User-Image-EXP {
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    overflow: hidden;
  }
  .AlignImage {
    margin-left: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
