@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
.homePage-first-page {
  display: flex;
}
.container-fluid {
  margin-top: 7rem;
  margin-bottom: 18rem;
}

.user-Image {
  display: flex;
  justify-content: end;
  align-items: center;
}

.user-details {
  margin-top: 7rem;
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.Image-0 {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  overflow: hidden;
}
.greetings-home h6 {
  font-family: "poppins", sans-serif;
  color: #555555;
  font-size: 16px;
  margin: 10px;
  font-weight: 600;
}
.User-name h3 {
  font-family: "poppins", sans-serif;
  color: #000000;
  font-size: 50px;
  margin-bottom: 10px;
  font-weight: 600;
}
.user-designation h4 {
  font-family: "poppins", sans-serif;
  color: #555555;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}
.user-buttons {
  display: flex;
  gap: 1.3rem;
}
.resume-btn {
  border: #000000 1px solid;
  color: #000000;
  padding: 10px 30px 10px 30px;
  text-align: center;
  font-weight: 600;
  font-size: 13px;
  border-radius: 30px;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.contact-btn {
  background-color: #555555;
  border: none;
  color: white;
  padding: 2px 20px 2px 20px;
  text-align: center;
  border-radius: 30px;
  font-weight: 600;
  font-size: 13px;
  transition: background-color 0.5s ease;
}
.resume-btn:hover {
  background-color: #555555;
  color: white;
}
.contact-btn:hover {
  background-color: #000000;
  border: none;
  color: white;
  padding: 2px 20px 2px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 30px;
}
@media only screen and (max-width: 992px) {
  .user-designation h4 {
    font-family: "poppins", sans-serif;
    color: #555555;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .User-name h3 {
    font-family: "poppins", sans-serif;
    color: #000000;
    font-size: 36px;
    font-weight: 600;
  }

  .user-details {
    margin-top: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .user-Image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Image-0 {
    width: 250px;
    height: 250px;
    margin-bottom: 1rem;
  }
  .container-fluid {
    padding-top: 5rem;
    margin-bottom: 9rem;
  }
}
